<h1> Meghann Plunkett </h1>


<img class="pic" src="IMG_7531.jpg">

<h3> Things I like to do (on a good day): </h3>

<ul> 
  <li>Write Poetry</li>
  <li>Write Code That Doesn't Throw Errors</li>
  <li>Watch Shark Week</li>

  <a href="/contact">Contact</a>
